<h1>Stupid Coaching</h1>

<div class="box">
  <p><%=@question%></p>
  <i><strong>-You</strong></i>
</div>

<div class="box coach">
  <p><%=@answer%></p>
  <i><strong>-Coach</strong></i>
</div>

<%= link_to 'Ask a new question', ask_path %>
